---
title: Thoughts on Coding
layout: layouts/home.njk
description: My thoughts about software engineering and cumerical computation algorithm.
image: /img/favicon/favicon.svg
date: 2021-02-18
---

<p>
  Hi! I'm <a href="https://github.com/Ben1980" target="_blank" rel='noreferrer' aria-label="GitHub Profile Link">Ben</a> and here I write ocasionly about software engineering and numerical computation algorithm.
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>