<!doctype html>
<html lang="en"
    domain="{{ metadata.domain }}"
    {% if googleanalytics %}
    ga-id="{{ googleanalytics }}"
    {% endif %}
  >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="{{ csp.regular | safe }}">
    {% if isdevelopment %}
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    {% else %}
    <link rel="icon" href="{{ '/img/favicon/favicon-192x192.png' | addHash }}" type="image/png">
    {% endif %}
    <meta name="theme-color" content="#f9c412">
    <meta name="robots" content="max-snippet:-1, max-image-preview: large, max-video-preview: -1">
    <title>{{ renderData.title or title or metadata.title | escape }}</title>
    <meta property="og:title" content="{{ renderData.title or title or metadata.title | escape  }}">
    {% set desc = renderData.description or description %}
    {% if not desc %}
      {% set desc = content | striptags | truncate(140) %}
    {% endif %}
    {% if desc %}
      <meta name="description" content="{{ desc | escape  }}">
      <meta property="og:description" content="{{ desc | escape }}">
    {% endif %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ metadata.author.twitterHandle }}">
    <meta name="twitter:creator" content="@{{ metadata.author.twitterHandle }}">
    {% if image %}
      <meta property="og:image" content="{{ image | absoluteUrl(metadata.url) }}">
    {% endif %}

    <link rel="canonical" href="{{ metadata.url }}{{ canonicalUrl or page.url }}">
    <!-- This is a blog and so it SHOULD be safe and it is nice for the web
         to send referrers cross-origin.
         However, if you use sensitive data in URLs, consider changing this to
         a value like `origin-when-cross-origin`
         https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referrer-Policy
          -->
    <meta name="referrer" content="no-referrer-when-downgrade">
    <meta name="google-site-verification" content="y18AHZRDcDvXqdhe6M49y9G_uoUGnnlm7aBTK6w5LpU" />
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="preconnect" href="/" crossorigin>
    
    <script async defer src="{{ "/js/min.js" | addHash }}"
      {% if webvitals %}data-cwv-src="{{ "/js/web-vitals.js" | addHash }}"{% endif %}>
    </script>

    {% if googleanalytics %}
      <script async defer src="{{ "/js/cached.js" | addHash }}"></script>
    {% endif %}
    <!-- Notably iOS UAs also contain Mac OS X -->
    <script csp-hash>if (/Mac OS X/.test(navigator.userAgent))document.documentElement.classList.add('apple')
    </script>
    <!-- css is inserted by optimize-html custom plugin -->
  </head>
  <body>
    <header>
      <nav>
        <div id="nav">
          <h1><a href="{{ '/' | url }}" title="Homepage">{{ metadata.title }}</a></h1>
          {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
          {%- for entry in collections.all | eleventyNavigation %}
            <a href="{{ entry.url | url }}">{{ entry.title }}</a>
          {%- endfor %}
        </div>
        <div id="reading-progress" aria-hidden="true"></div>
      </nav>
      <h1>{{ title }}</h1>
      {% block extraArticleHeader %}{% endblock %}
      <dialog id="message"></dialog>
      {% if googleanalytics %}
      <noscript>
        <img src="/.netlify/functions/ga?v=1&_v=j83&t=pageview&dr=https%3A%2F%2Fno-script.com&_s=1&dh={{ metadata.domain | encodeURIComponent }}&dp={{ page.url | encodeURIComponent }}&ul=en-us&de=UTF-8&dt={{title|encodeURIComponent}}&tid={{googleanalytics}}" width="1" height="1"
        style="display:none" alt="">
      </noscript>
      {% endif %}
    </header>

    <main>
      <article>
        {% block article %}
          {{ content | safe }}
        {% endblock %}

        {% if page.fileSlug %}
          <p>Published <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></p>
        {% endif %}

        {% if page.fileSlug %}
          <div id="disqus_thread"></div>
          <script>
            var disqus_config = function () {
              this.page.url = "{{metadata.url}}{{ page.url }}";  // Replace PAGE_URL with your page's canonical URL variable
              this.page.identifier = "{{ page.fileSlug }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            (function() { // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');
              s.src = 'https://{{ metadata.disqusShortname }}.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

          <div id="mc_embed_signup">
            <form action="https://gmail.us20.list-manage.com/subscribe/post?u=4eab86093b8ce608250a708e8&amp;id=f1dc6a0494" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                  <h3>Subscribe</h3>
                  <div class="mc-field-group">
                    <label for="mce-EMAIL">Email Address</label>
                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" style="width: 100%; height:40px">
                  </div>
                  <p>Please also join my mailing list, seldom mails, no spam, and no advertising. By clicking submit, you agree to share your email address with the site owner and Mailchimp to receive updates from the site owner. Use the unsubscribe link in those emails to opt out at any time. You can unsubscribe at any time by clicking the link in the footer of our emails. For information about our privacy practices, please visit our website. We use Mailchimp as our marketing platform. By clicking below to subscribe, you acknowledge that your information will be transferred to Mailchimp for processing. <a href="https://mailchimp.com/legal/" target="_blank" rel="noreferrer">Learn more about Mailchimp's privacy practices here.</a></p>
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4eab86093b8ce608250a708e8_f1dc6a0494" tabindex="-1" value=""></div>
                  <div class="clear"><input style="width: 100%;" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
          </div>
          <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        {% endif %}
      </article>
    </main>

    <footer>
      <a href="/about/">{{ metadata.author.name }}</a>
    </footer>

    <!-- Current page: {{ page.url | url }} -->

    {% if page.fileSlug %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/katex.min.css" integrity="sha384-t5CR+zwDAROtph0PXGte6ia8heboACF9R5l/DiY+WZ3P2lxNgvJkQk5n7GPvLMYw" crossorigin="anonymous">
      <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/katex.min.js" integrity="sha384-FaFLTlohFghEIZkw6VGwmf9ISTubWAVYW8tG8+w2LAIftJEULZABrF9PPFv+tVkH" crossorigin="anonymous"></script>
      <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/contrib/auto-render.min.js" integrity="sha384-bHBqxz8fokvgoJ/sc17HODNxa42TlaEhB+w8ZJXTc2nZf1VgEaFZeZvT4Mznfz0v" crossorigin="anonymous" 
        onload="renderMathInElement(document.body,
            {
                delimiters: [
                    {left: '$$', right: '$$', display: true},
                    {left: '$', right: '$', display: false},
                ]
            });">
      </script>
    {% endif %}
  </body>
</html>
